services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "5000:5000"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - python
      - node
      - rust
  python:
    container_name: "python"
    build:
      context: ./python-api
      dockerfile: Dockerfile
    # ports:
    #   - "8000:8000"
    # mem_limit: 128m
    # cpus: 0.5
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5
    #   start_period: 30s
  node:
    container_name: "node"
    build:
      context: ./node-api
      dockerfile: Dockerfile
    # ports:
    #   - "3000:3000"
  rust:
    container_name: "rust"
    build:
      context: ./rust-api
      dockerfile: Dockerfile
    # ports:
    #   - "4000:4000"
  